@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(247,247,247);
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: 'poppins',sans-serif;
    font-weight: 600;
}
.b-c{
    display: grid;
    gap: 1rem;
}
.b-c .b-c-container{
    background-color: white;
    padding: 25px 35px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
button{
    padding: 7px 10px;
    background-color: rgb(0, 224, 0);
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}